<div class="element">
    <div class="request-1">
        <div class="card">
            <div class="shadow"></div>
            <div class="highlightreflection"></div>
            <div class="actualcard"></div>
        </div>
        <div class="see-less">see less...</div>
        <div class="days-parent">
            <div class="days">
                <span>10</span>
                <span class="span"> </span>
                <span class="days1">days</span>
            </div>
            <div class="dolor1">Dolor</div>
        </div>
        <div class="parent">
            <div class="div">5</div>
            <div class="lorem1">Lorem</div>
        </div>
        <div class="group-parent">
            <div class="ea-parent">
                <div class="ea">
                    <span>125</span>
                    <span class="span1"> </span>
                    <span class="days1">(25/ea)</span>
                </div>
                <div class="div1">$</div>
            </div>
            <div class="ipsum1">Ipsum</div>
        </div>
        <div class="group">
            <div class="div2">30</div>
            <div class="lorem-ipsum">Lorem Ipsum</div>
        </div>
        <div class="prospect-1">
            <img class="unsplashvsxalm9pu74-icon" alt="" src="./public/unsplashvsxalm9pu74@2x.png" />

            <div class="name">
                <div class="dan-hart-30">Dan Hart, 30</div>
            </div>
            <img class="prospect-1-child" alt="" src="./public/vector-280.svg" />

            <img class="prospect-1-item" alt="" src="./public/group-515275.svg" />
        </div>
        <div class="item-1-lorem-ipsum-item-two-parent">
            <div class="item-1-lorem-container">
                <p class="item-1-lorem">Item 1 Lorem Ipsum</p>
                <p class="item-1-lorem">Item Two</p>
            </div>
            <div class="options">Options:</div>
        </div>
        <div class="seattle-parent">
            <div class="seattle">Seattle</div>
            <div class="location">Location</div>
        </div>
        <div class="below-avg-options-20-parent">
            <div class="below-avg-options-container">
                <span>15.54% </span>
                <span class="below-avg-options">(below avg options) (20%)</span>
            </div>
            <div class="preferences-profile">Preferences Profile</div>
        </div>
    </div>
    <div class="request-2">
        <div class="card1">
            <div class="shadow1"></div>
            <div class="highlightreflection1"></div>
            <div class="actualcard1"></div>
        </div>
        <div class="see-more">see more...</div>
        <div class="group-container">
            <div class="ea-parent">
                <div class="ea">
                    <span>125</span>
                    <span class="span1"> </span>
                    <span class="days1">(25/ea)</span>
                </div>
                <div class="div3">$</div>
            </div>
            <div class="ipsum1">Ipsum</div>
        </div>
        <div class="prospect-11">
            <img class="unsplashvsxalm9pu74-icon" alt="" src="./public/unsplashvsxalm9pu74@2x.png" />

            <div class="name">
                <div class="dan-hart-30">Dan Hart, 30</div>
            </div>
            <img class="prospect-1-child" alt="" src="./public/vector-280.svg" />

            <img class="prospect-1-item" alt="" src="./public/group-515275.svg" />
        </div>
        <div class="seattle-group">
            <div class="seattle">Seattle</div>
            <div class="location">Location</div>
        </div>
    </div>
</div>
<div class="matcher-bottom-nav-4">
    <div class="matcher-bottom-nav-2">
        <div class="bottom-nav">
            <div class="bottom-nav-child"></div>
            <div class="bottom-nav-item"></div>
        </div>
        <div class="stslot-parent">
            <div class="stslot">
                <div class="messenger-matcher">
                    <img class="vector-icon" alt="" src="./public/vector.svg" />

                    <div class="messenger">Messenger</div>
                </div>
                <div class="home-client">
                    <img class="vector-icon1" alt="" src="./public/vector.svg" />

                    <div class="home">Home</div>
                </div>
            </div>
            <div class="ndslot">
                <div class="constituentsicon">
                    <img class="profile-icon" alt="" src="./public/profile.svg" />

                    <div class="constituents">Constituents</div>
                </div>
            </div>
            <div class="ndslot">
                <div class="constituentsicon">
                    <img class="vector-icon2" alt="" src="./public/vector.svg" />

                    <div class="itinerary">Itinerary</div>
                </div>
            </div>
            <div class="thslot">
                <div class="statsicon">
                    <img class="dashboard-icon" alt="" src="./public/dashboard-icon.svg" />

                    <div class="stats">Stats</div>
                </div>
            </div>
            <div class="thslot">
                <div class="statsicon">
                    <img class="settingsicon-child" alt="" src="./public/group-515274.svg" />

                    <div class="stats">Settings</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="expandcollapse">Expand/Collapse</div>
