.content-view1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  opacity: 0.7;
}
.dot-menudefault-icon {
  position: absolute;
  height: 50%;
  width: 0.73%;
  top: 22.22%;
  right: 0;
  bottom: 27.78%;
  left: 99.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.content-view {
  position: absolute;
  top: 0;
  left: 12px;
  width: 274px;
  height: 18px;
}
.request-clientprospects-child {
  position: absolute;
  top: 32px;
  left: 0;
  border-radius: 41.12px;
  background: linear-gradient(94.44deg, #fe3c72, #e15561);
  width: 76px;
  height: 4px;
}
.lorem {
  left: 16px;
}
.dolor,
.ipsum,
.lorem {
  position: absolute;
  top: 0;
  line-height: 160%;
}
.ipsum {
  left: 124px;
  color: var(--dark-white-50);
}
.dolor {
  left: 232.4px;
  color: #949296;
}
.request-clientprospects-item {
  position: absolute;
  top: 8px;
  left: 224px;
  width: 7.2px;
  height: 8.9px;
}
.request-clientprospects {
  position: absolute;
  top: 39px;
  left: 9px;
  width: 270.4px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-mini-8);
  font-family: var(--font-calistoga);
}
.shadow {
  position: absolute;
  top: 2.63%;
  right: 0;
  bottom: 0;
  left: 1.06%;
  background-color: var(--color-gray-500);
  filter: blur(7.74px);
}
.actualcard,
.highlightreflection,
.shadow {
  height: 97.37%;
  width: 98.94%;
  border-radius: 7.74px;
}
.highlightreflection {
  position: absolute;
  top: -3.53%;
  right: 2.67%;
  bottom: 6.15%;
  left: -1.62%;
  background-color: var(--color-darkslategray);
  filter: blur(7.74px);
}
.actualcard {
  top: 0;
  right: 1.06%;
  bottom: 2.63%;
  left: 0;
  background-color: var(--color-gray-400);
  box-shadow: 2.6px 2.6px 4.91px #494949 inset,
    -5.2px -6.5px 9.04px #181717 inset;
}
.actualcard,
.card,
.see-less {
  position: absolute;
}
.card {
  top: 0;
  left: calc(50% - 151.5px);
  width: 303px;
  height: 156px;
}
.see-less {
  top: 135.7px;
  left: calc(50% - 12.5px);
  font-size: var(--font-size-7xs);
  line-height: 150%;
}
.span {
  font-size: 10.3px;
}
.days1 {
  font-size: var(--font-size-7xs);
}
.days,
.dolor1 {
  position: absolute;
  top: 9.2px;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
}
.dolor1 {
  top: 0;
  left: 1.7px;
  font-size: var(--font-size-3xs);
  color: var(--color-crimson);
}
.days-parent {
  position: absolute;
  top: 96.9px;
  left: 248.8px;
  width: 26.7px;
  height: 24.1px;
  text-align: right;
  color: var(--color-lightgray);
}
.div {
  top: 12.3px;
  left: 20.8px;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
}
.div,
.lorem1,
.parent {
  position: absolute;
}
.lorem1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-3xs);
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-crimson);
}
.parent {
  top: 63.7px;
  left: 247.8px;
  width: 28px;
  height: 24.4px;
  text-align: right;
  color: var(--color-lightgray);
}
.span1 {
  font-size: var(--font-size-5xs-8);
}
.ea {
  position: absolute;
  top: 0;
  left: 2.9px;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
}
.div1,
.ea-parent {
  position: absolute;
  left: 0;
}
.div1 {
  top: 1.6px;
  font-size: var(--font-size-7xs-3);
  letter-spacing: 0.05px;
  font-weight: 500;
}
.ea-parent {
  top: 11.3px;
  width: 35.9px;
  height: 12px;
}
.ipsum1 {
  position: absolute;
  top: 0;
  left: 8.8px;
  font-size: var(--font-size-3xs);
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-crimson);
}
.group-parent {
  position: absolute;
  top: 32.5px;
  left: 239.1px;
  width: 35.9px;
  height: 23.3px;
  text-align: right;
  color: var(--color-lightgray);
}
.div2 {
  position: absolute;
  top: 11.7px;
  left: 0.4px;
  line-height: 150%;
  white-space: pre-wrap;
}
.lorem-ipsum {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.07px;
  font-weight: 500;
  color: var(--dark-white-100);
}
.group {
  position: absolute;
  top: 100.5px;
  left: 89.5px;
  width: 47px;
  height: 17.7px;
  font-size: var(--font-size-4xs-3);
}
.unsplashvsxalm9pu74-icon {
  position: absolute;
  top: 1.2px;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.dan-hart-30,
.name {
  position: absolute;
  top: 0;
}
.dan-hart-30 {
  left: 0;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
}
.name {
  left: 72.9px;
  width: 69px;
  height: 18px;
}
.prospect-1-child {
  position: absolute;
  top: 4.2px;
  left: 256px;
  width: 4px;
  height: 7px;
}
.prospect-1,
.prospect-1-item {
  position: absolute;
  top: 2.2px;
  left: 246px;
  width: 7.2px;
  height: 8.9px;
}
.prospect-1 {
  top: 15.7px;
  left: 15px;
  width: 260px;
  height: 51.2px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.item-1-lorem {
  margin: 0;
}
.item-1-lorem-container {
  position: absolute;
  top: 14.4px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 56.1px;
}
.options {
  position: absolute;
  top: 0;
  left: 3.8px;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.07px;
  font-weight: 500;
  color: var(--dark-white-100);
}
.item-1-lorem-ipsum-item-two-parent {
  position: absolute;
  top: 69.2px;
  left: 12.8px;
  width: 56.1px;
  height: 41.5px;
  font-size: var(--font-size-6xs);
}
.seattle {
  position: absolute;
  top: 11.7px;
  left: 0;
  line-height: 150%;
}
.location {
  position: absolute;
  top: 0;
  left: 0.5px;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.07px;
  font-weight: 500;
  color: var(--dark-white-100);
}
.seattle-parent {
  position: absolute;
  top: 36.8px;
  left: 88px;
  width: 33.5px;
  height: 17.7px;
  text-align: right;
  font-size: var(--font-size-4xs-3);
}
.below-avg-options {
  font-size: var(--font-size-6xs);
}
.below-avg-options-container {
  position: absolute;
  top: 11.7px;
  left: 0.4px;
  line-height: 150%;
}
.preferences-profile {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.07px;
  font-weight: 500;
  color: var(--dark-white-100);
  text-align: right;
}
.below-avg-options-20-parent {
  position: absolute;
  top: 68.1px;
  left: 88.8px;
  width: 108.5px;
  height: 17.7px;
  font-size: var(--font-size-4xs-3);
}
.request-1 {
  position: absolute;
  top: 86.1px;
  left: calc(50% - 151.5px);
  width: 303px;
  height: 156px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-100);
}
.shadow1 {
  top: 2.59%;
  right: 0;
  bottom: 0;
  left: 1.06%;
  background-color: var(--color-gray-500);
  filter: blur(7.74px);
}
.actualcard1,
.highlightreflection1,
.shadow1 {
  position: absolute;
  height: 97.41%;
  width: 98.94%;
  border-radius: 7.74px;
}
.highlightreflection1 {
  top: -3.46%;
  right: 2.67%;
  bottom: 6.05%;
  left: -1.62%;
  background-color: var(--color-darkslategray);
  filter: blur(7.74px);
}
.actualcard1 {
  top: 0;
  right: 1.06%;
  bottom: 2.59%;
  left: 0;
  background-color: var(--color-gray-400);
  box-shadow: 2.6px 2.6px 4.91px #494949 inset,
    -5.2px -6.5px 9.04px #181717 inset;
}
.card1 {
  top: 0;
  left: calc(50% - 151.5px);
  width: 303px;
  height: 81px;
}
.card1,
.div3,
.see-more {
  position: absolute;
}
.see-more {
  top: 65.5px;
  left: calc(50% - 12.5px);
  line-height: 150%;
}
.div3 {
  top: 1.7px;
  left: 0;
  font-size: var(--font-size-7xs-3);
  letter-spacing: 0.05px;
  font-weight: 500;
}
.group-container {
  position: absolute;
  top: 32.2px;
  left: 239.1px;
  width: 35.9px;
  height: 23.3px;
  text-align: right;
  font-size: var(--font-size-5xs);
  color: var(--color-lightgray);
}
.prospect-11 {
  position: absolute;
  top: 15.5px;
  left: 15px;
  width: 260px;
  height: 51.2px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.seattle-group {
  position: absolute;
  top: 36.6px;
  left: 88px;
  width: 33.5px;
  height: 17.7px;
  text-align: right;
  font-size: var(--font-size-4xs-3);
}
.element,
.request-2 {
  position: absolute;
  width: 303px;
}
.request-2 {
  top: 247.1px;
  left: calc(50% - 151.5px);
  height: 81px;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-100);
}
.element {
  top: 122px;
  left: 8px;
  height: 328.1px;
  text-align: left;
}
.bottom-nav-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base) var(--br-base) 0 0;
  background-color: var(--color-gray-300);
  box-shadow: 0-15px 16px 2px rgba(255, 255, 255, 0.1);
}
.bottom-nav-item {
  position: absolute;
  height: 2.2%;
  width: 6.66%;
  top: 8%;
  right: 45.53%;
  bottom: 89.8%;
  left: 47.81%;
  border-radius: var(--br-smi);
  background-color: var(--dark-white-100);
  opacity: 0.3;
}
.bottom-nav,
.vector-icon {
  position: absolute;
  height: 94.34%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 5.66%;
  left: 0;
}
.vector-icon {
  height: 58.82%;
  width: 33.9%;
  right: 33.05%;
  bottom: 41.18%;
  left: 33.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.messenger {
  position: absolute;
  width: 100%;
  top: 64.71%;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.messenger-matcher {
  position: absolute;
  top: 0;
  left: 0;
  width: 59px;
  height: 34px;
  display: none;
}
.vector-icon1 {
  position: absolute;
  height: 51.28%;
  width: 33.9%;
  top: 7.69%;
  right: 33.05%;
  bottom: 41.03%;
  left: 33.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home {
  position: absolute;
  width: 100%;
  top: 69.23%;
  left: 0;
  font-weight: 600;
  background: linear-gradient(208.61deg, #fe3c72, #ffb5e9), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.home-client {
  position: absolute;
  width: 59px;
  height: 39px;
  display: none;
}
.stslot {
  width: 0;
  position: relative;
  height: 0;
}
.profile-icon {
  position: absolute;
  height: 55.07%;
  width: 45.76%;
  top: 0;
  right: 25.93%;
  bottom: 44.93%;
  left: 28.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.constituents {
  position: absolute;
  top: 66.67%;
  left: 0;
  font-weight: 600;
  background: linear-gradient(208.61deg, #fe3c72, #ffb5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.constituentsicon {
  position: absolute;
  top: 0;
  left: 0;
  width: 59px;
  height: 34.5px;
}
.ndslot {
  width: 59px;
  position: relative;
  height: 34.5px;
}
.vector-icon2 {
  position: absolute;
  height: 57.97%;
  width: 33.9%;
  top: 0;
  right: 33.05%;
  bottom: 42.03%;
  left: 33.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.itinerary {
  position: absolute;
  width: 100%;
  top: 66.67%;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.dashboard-icon {
  position: absolute;
  height: 57.14%;
  width: 33.9%;
  top: 0;
  right: 33.05%;
  bottom: 42.86%;
  left: 33.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stats {
  position: absolute;
  width: 100%;
  top: 65.71%;
  left: 0;
  font-weight: 600;
  display: inline-block;
  opacity: 0.3;
}
.statsicon,
.thslot {
  width: 59px;
  height: 35px;
}
.statsicon {
  position: absolute;
  top: 0;
  left: 0;
}
.thslot {
  position: relative;
  color: var(--dark-white-100);
}
.settingsicon-child {
  position: absolute;
  height: 57.14%;
  width: 33.9%;
  top: 0.29%;
  right: 33.05%;
  bottom: 42.57%;
  left: 33.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stslot-parent {
  position: absolute;
  height: 77.36%;
  width: 95.63%;
  top: 16.98%;
  right: 1.25%;
  bottom: 5.66%;
  left: 3.13%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.matcher-bottom-nav-2 {
  position: absolute;
  height: 106%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -6%;
  left: 0;
}
.matcher-bottom-nav-4 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 160px);
  width: 320px;
  height: 50px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray);
}
.expandcollapse {
  position: absolute;
  top: 534.5px;
  left: calc(50% - 57.5px);
  font-size: var(--font-size-mini-8);
  line-height: 160%;
  font-family: var(--font-calistoga);
  color: var(--dark-white-50);
}
.constituent-dashboard {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  height: 568px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--dark-white-100);
  font-family: var(--font-gilroy);
}
